In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

%matplotlib inline

In [10]:
# Importing the development dataset

dataset = pd.read_csv('Basic Data.csv')
x = dataset.iloc[:, 2:-1]
y = dataset.iloc[:, -1]

In [11]:
x

,PP1,PP2,PP3,KF1,Z1,F1,T1,VHSE1,ProtFP1,ST1,BLOSUM1,MSWHIM1
0,0.220667,-0.172667,0.055333,-0.175333,0.902667,NaN,-3.556000,-0.412000,-2.104000,-0.693933,0.516667,-0.208667
1,0.094000,-0.111333,0.106000,-0.283333,0.352000,NaN,-3.538000,-0.244667,-1.279333,-0.688533,0.319333,-0.265333
2,0.253333,0.012667,0.302000,-0.060667,0.516000,NaN,-2.651333,-0.360667,-1.461333,-0.530333,0.362000,-0.225333
3,0.211333,-0.133333,0.107333,-0.269333,0.849333,NaN,-3.426000,-0.422667,-1.970000,-0.668733,0.516000,-0.193333
4,0.161333,0.010000,0.152000,-0.280000,0.082000,NaN,-2.664667,-0.204667,-0.759333,-0.534533,0.190000,-0.234000
...,...,...,...,...,...,...,...,...,...,...,...,...
344,-0.013333,-0.054667,0.160667,0.158000,-0.134667,NaN,-2.696667,-0.090667,-0.062667,-0.556533,0.096667,-0.245333
345,-0.009333,-0.157333,0.180000,0.423333,-0.016000,NaN,-3.196667,-0.182667,-1.084000,-0.646267,0.257333,-0.248667
346,-0.142667,0.065333,0.177333,-0.101333,-0.856000,NaN,-2.305333,0.163333,1.467333,-0.482467,-0.267333,-0.222667
347,0.062000,-0.028667,0.152667,0.343333,-0.114000,NaN,-2.286000,-0.117333,-0.194000,-0.489800,0.084667,-0.134000
348,0.094000,-0.288667,-0.111333,-0.108667,0.582667,NaN,-3.958667,-0.277333,-1.155333,-0.774133,0.340000,-0.265333

In [12]:
y

0      Negative
1      Negative
2      Negative
3      Negative
4      Negative
         ...
344    Negative
345    Negative
346    Negative
347    Negative
348    Negative
Name: Class, Length: 349, dtype: object

In [13]:
# Encoding the y values ( 0 -> negative, 1 -> positive)

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = le.fit_transform(y)

In [14]:
# Splitting the dataset into traning(75) and test(25) sets

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25,
                                                    random_state = 0)

In [15]:
# Replacing missing values of training data 

from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values = np.nan, strategy='mean')
imputer.fit(x_train)
x_train = imputer.transform(x_train)

In [16]:
# Replacing missing values of testing data

imputer.fit(x_test)
x_test = imputer.transform(x_test)

In [17]:
# Feature scaling

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test) 
# transforming the test set with the same scale as the training set

In [18]:
x

,PP1,PP2,PP3,KF1,Z1,F1,T1,VHSE1,ProtFP1,ST1,BLOSUM1,MSWHIM1
0,0.220667,-0.172667,0.055333,-0.175333,0.902667,NaN,-3.556000,-0.412000,-2.104000,-0.693933,0.516667,-0.208667
1,0.094000,-0.111333,0.106000,-0.283333,0.352000,NaN,-3.538000,-0.244667,-1.279333,-0.688533,0.319333,-0.265333
2,0.253333,0.012667,0.302000,-0.060667,0.516000,NaN,-2.651333,-0.360667,-1.461333,-0.530333,0.362000,-0.225333
3,0.211333,-0.133333,0.107333,-0.269333,0.849333,NaN,-3.426000,-0.422667,-1.970000,-0.668733,0.516000,-0.193333
4,0.161333,0.010000,0.152000,-0.280000,0.082000,NaN,-2.664667,-0.204667,-0.759333,-0.534533,0.190000,-0.234000
...,...,...,...,...,...,...,...,...,...,...,...,...
344,-0.013333,-0.054667,0.160667,0.158000,-0.134667,NaN,-2.696667,-0.090667,-0.062667,-0.556533,0.096667,-0.245333
345,-0.009333,-0.157333,0.180000,0.423333,-0.016000,NaN,-3.196667,-0.182667,-1.084000,-0.646267,0.257333,-0.248667
346,-0.142667,0.065333,0.177333,-0.101333,-0.856000,NaN,-2.305333,0.163333,1.467333,-0.482467,-0.267333,-0.222667
347,0.062000,-0.028667,0.152667,0.343333,-0.114000,NaN,-2.286000,-0.117333,-0.194000,-0.489800,0.084667,-0.134000
348,0.094000,-0.288667,-0.111333,-0.108667,0.582667,NaN,-3.958667,-0.277333,-1.155333,-0.774133,0.340000,-0.265333

In [19]:
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0])